h1{
    color: red;
    text-align: center;

}

ol {
    counter-reset: section;
    list-style-type: none;
}
li{
    border-bottom:1px solid #d5d5d5;
}

.column li{
    display: block;width: 49%;float: left;
    margin-bottom: 40px;

}
li::before {
    counter-increment: section;
    content: counters(section,".");
    background-color: #60ffe4;
    font-size:20px;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 10px;
    border-radius: 50%;
    color: white;
    font-weight: bold;
}

