ol {
    counter-reset: section;
    list-style-type: none;
    font-size: 18px;
}

li::before {
    counter-increment: section;
    content: counters(section,".");
    background-color: green;
    border: 2px solid yellow;
    font-size:20px;
    padding: 3px;
    margin-right: 10px;
    color: yellow;
    padding-left: 5px;
    padding-right: 5px;
}
li:nth-child(2)::before{
    background-color: yellow;
    border: 2px solid blue;
    color: blue;
}
li{
    padding: 10px;
}
#small{
    font-size: 14px;
}
