#kiwi,#pomergranate,#strawberry,#mango,#apple{
    position: absolute;
    top:200px;
    left:200px;
    }
@keyframes kiwi{
    from{  top:200px;left: 200px}
    to{ top:140px;
        left:100px;}
}
@keyframes apple{
    from{  top:200px;left: 200px}
    to{ top:120px;
        left:160px;}
}
@keyframes strawberry{
    from{  top:200px;left: 200px}
    to{ top:130px;
        left:220px;}
}
@keyframes mango{
    from{  top:200px;left: 200px}
    to{ top:145px;
        left:280px;}
}
#d:hover > #kiwi{
    animation:kiwi 2s linear 1 forwards;
}
#d:hover > #apple{
    animation:apple 2s linear 1 forwards 2s;
}
#d:hover > #strawberry{
    animation:strawberry 2s linear 1 forwards 4s;
}
#d:hover > #mango{
    animation:mango 2s linear 1 forwards 6s;
}

#d{
    height: 1px;
    width: 1px;
    position: absolute;
    top:200px;
    left:300px;
}
