.head{
    height: 200px;
    width: 40%;
    position: absolute;
    top:200px;
    left:300px;
}
.web{
    position: absolute;
    left: 260px;
    top:100px;
    visibility: hidden;
    transition: 2s linear 3s;
}
.first{
    background: #60ffe4;
    border: cadetblue solid 2px;
    height: 200px;
    width: 50%;
    position: absolute;
    transition: 5s linear;
}
.second{
    background: #60ffe4;
    border: cadetblue solid 2px;
    height: 200px;
    width: 50%;
    position: absolute;
    left: 340px;
    transition: 5s linear;
}
.head:hover > .first{
    width: 40%;
    margin: 0 auto;
    transform: perspective(1000px) rotateY(40deg);
    transform: perspective(1000px) rotateY(40deg);
}
.head:hover > .second{
    width: 40%;
    margin: 0 auto;
    transform: perspective(1000px) rotateY(-40deg);
    transform: perspective(1000px) rotateY(-40deg);
}
.head:hover > .web{
visibility: visible;
}

