@keyframes anim{
    from{margin-left:3px;}
    to{margin-left:1000px;}
}
#d1{
    animation:anim 4s 3;
}
#d1{
    width: 50px;
    height: 50px;
    border: 1px solid red;
    margin-bottom: 20px;
}
@keyframes anima{
    from{margin-left:3px;}
    to{margin-left:1000px;}
}

#d2{
    animation: anima 4s infinite;
}
#d2{
    width: 50px;
    height: 50px;
    border: 1px solid red;
}
@keyframes animat{
    from{background: white}
    to{background: red}
}

#d3{
    animation: animat 4s 30 0s;
}
#d3{
    width: 200px;
    height: 200px;
    border: 1px solid red;
}
@keyframes animati{
    0%{margin-left: 0%; margin-top: 0%;}
    25%{margin-left: 20%; margin-top: 0%;}
    50%{margin-left: 20%; margin-top: 20%;}
    75%{margin-left: 0%; margin-top: 20%;}
    100%{margin-left: 0%; margin-top: 0%;}
}

#d4{
    animation: animati 8s linear infinite;
}
#d4{
    width: 50px;
    height: 50px;
    border: 1px solid red;
}
@keyframes animatio{
    0%{margin-left: 0%; margin-top: 0%;}
    25%{margin-left: 20%; margin-top: 0%;}
    50%{margin-left: 20%; margin-top: 20%;}
    75%{margin-left: 0%; margin-top: 20%;}
    100%{margin-left: 0%; margin-top: 0%;}
}
@keyframes animatio2{
    0%{background: white;}
    50%{background: red;}
    100%{background: white;}
}

#d5{
    animation: animatio 8s linear infinite ,animatio2 2s linear infinite;
}
#d5{
    width: 50px;
    height: 50px;
    border: 1px solid red;
}
#d6{
    width: 50px;
    height: 50px;
    border: 1px solid red;
}
@keyframes anim2{
    0%{margin-left: 0%;}
    50%{margin-left: 50%;}
    100%{margin-left: 0%;}
}

#d6{
    animation: anim2 4s infinite;
}
@keyframes anim3{
    from{margin-left: 0%;}
    to{margin-left: 50%;}
}

#d7{
    animation: anim3 2s infinite alternate;
}
#d7{
    width: 50px;
    height: 50px;
    border: 1px solid red;
}
@keyframes test{
    0%{width: 0%;}
    100%{width: 100%;}
}

#wrapper{
    margin: 0px auto;
    width: 50%;
    height: 30px;
    border: 1px solid red;
}
#test{
    background: red;
    width: 0%;
    height: 30px;
    animation:test 5s linear 1 forwards;
}
@keyframes test1{
    0%{width: 0%;}
    100%{width: 100%;}
}

#wrapper1{
    margin: 0px auto;
    width: 50%;
    height: 30px;
    border: 1px solid red;
}
#test1{
    background: red;
    width: 0%;
    height: 30px;
    animation: test 16s linear infinite -8s;
}
@keyframes anim10{
    from{width: 10%;}
    to{width: 100%;}
}

#d10{
    animation: anim10 2s ease infinite alternate;
    animation-play-state: paused;
}
#d10:hover{
    animation-play-state: running;
}

#d10{
    height: 50px;
    border: 1px solid red;
}
@keyframes anim11{
    from{width: 10%;}
    to{width: 100%;}
}

#d11{
    width: 50px;
    animation: anim11 2s ease alternate infinite;
    animation-play-state: paused;
}
#hoverme:hover + #d11{
    animation-play-state: running;
}
#hoverme{
    padding: 10px;
    border: 1px solid red;
    margin-bottom: 30px;
    width: 30%;
}
#d11{
    height: 50px;
    border: 1px solid blue;
}
@keyframes bouncing{
    40%, 70%, 90%{
        animation-timing-function: ease-out;
        bottom: 0;
    }
    0%{
        bottom: 200px;
        left: 0;
        animation-timing-function: ease-in;
    }
    55%{
        bottom: 50px;
        animation-timing-function: ease-in;
    }
    80%{
        bottom: 25px;
        animation-timing-function: ease-in;
    }
    95%{
        bottom: 10px;
        animation-timing-function: ease-in;
    }
    100%{
        left: 110px;
        bottom: 0;
        animation-timing-function: ease-out;
    }
}
#wrapper3{
    margin: 0px auto;
    width: 220px;
    height: 220px;
    border: 1px solid red;
    position: relative;
}
#ball{
    background: red;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    position: absolute;
    animation: bouncing 5s infinite;
}

