.clock-inner {
    background: #f9f9f9;
    border-radius: 50%;
    border: 1px solid red;
    width: 160px;
    height: 160px;
    position: absolute;
    left: 500px;
    top: 200px;
}

.clock-minutes {
    height: 60px;
    width: 2px;
    background: #D56851;
    border-radius: 2px;
    position: absolute;
    top: calc(50% - 60px);
    left: calc(50% - 1px);
    transform-origin: 1px 60px;
    animation: clock 10s steps(60, end) infinite;
    box-shadow: 1px 1px 2px rgba(0,0,0,.3);
}

.clock-minutes:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #D56851;
    box-shadow: 1px 1px 2px rgba(0,0,0,.3);
    top: calc(100% - 4px);
    left: calc(100% - 5px);
}
.clock-hours {
    height: 30px;
    width: 2px;
    background: #D56851;
    border-radius: 2px;
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 1px);
    transform-origin: 1px 30px;
    animation: clock 60s steps(60, end) infinite;
    box-shadow: 1px 1px 2px rgba(0,0,0,.3);
}

.clock-hours:before {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #D56851;
    box-shadow: 1px 1px 2px rgba(0,0,0,.3);
    top: calc(100% - 4px);
    left: calc(100% - 5px);
}
@keyframes clock {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
