body {
    max-width: border-box;
    margin: 0;
    background-size: cover;
    background-image: url("Luchshie-kurorty-dlya-otdyha-v-mire.png");
    font-family: "Montserrat", sans-serif;
    min-width: 100%;
}
span {
    color: red;
}
h1 {

    width: 50%;
    margin-bottom: 15px;
    margin-left: 10px;
    color: #414acd;
}
p {

    width: 50%;
    margin-left: 10px;
    color: #0032d9;
}
#existing-user {
    font-style: italic;
    font-weight: bold;
    margin-right: 10px;
    float: right;
}
form {

    float: left;
    margin: 0 auto;
    padding: 10px;
    width: 45%;
    vertical-align: center;
    background-color: whitesmoke;
}
a {
    text-decoration: none;
    color: #009eff;
}
.form1{
    width: 700px;
    height: 500px;
    margin: 100px auto;
    background-color: whitesmoke;
    border-radius: 5px;
}

.form_pic{
    width: 350px;
    height: 500px;
    float: right;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;

}
.form_pic1{
    width: 350px;
    float: right;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
label {
    display: block;
    margin-bottom: 5px;
    color: #313030;
}
input {
    width: 90%;
    height: 24px;
    margin: 0 0 10px 8px;
    padding: 2px 5px;
    vertical-align: middle;
    border: 1px solid #cccccc;
    border-radius: 5px;
}
input[type="checkbox"] {
    width: 20px;
    margin-right: 10px;
    margin-top: 7px;
}
input[type="submit"] {
    display: inline-block;
    width: auto;
    height: auto;
    font-size: 16px;
    font-weight: 600;
    margin: 5px 15px;
    padding: 6px 15px;
    border: 1px solid #009eff;
    color: #009eff;

    background-color: #ffffff;
    border-radius: 10px;
}