body{
    font-size: 20px;
}
.he-1{
    background-color: #43ceff;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 15px;
    justify-content: center;
}
nav{

}
.flex-coiner-1{
    display: flex;
    justify-content: center;
    width: 100%;
}
.flex-coiner-1 > .flex-aside-1-1{
    background-color: #f000ff;
    flex-basis: 25%;

}
.flex-coiner-1 > .flex-aside-1-2{
    background-color: #ffd800;
    flex-basis: 25%;

}
.flex-coiner-1 > .flex-content-1{
    background-color: #7fe282;
    flex-basis: 100%;
    padding: 15px;

}
.flex-footer-1{
    background-color: #484aee;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: center;
    color: gold;
}



.he-2{
    background-color: #43ceff;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 15px;
    justify-content: center;
}
nav{

}
.flex-coiner-2{
    display: flex;
    justify-content: center;
}
.flex-coiner-2 > .flex-aside-2-1{
    background-color: #f000ff;
    flex-basis: 25%;

}
.flex-aside-2-2{
    background-color: #ffd800;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 10px;
    justify-content: center;

}
.flex-coiner-2 > .flex-content-2{
    background-color: #7fe282;
    flex-basis: 100%;
    padding: 15px;

}
.flex-footer-2{
    background-color: #484aee;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: center;
    color: gold;
}
.just-2{
    margin-top: 10px;
    width: 500px;
}


.he-3{
    background-color: #43ceff;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 15px;
    justify-content: center;
}
.flex-coiner-3{
    display: flex;
    justify-content: center;
}
.flex-aside-3-1{
    background-color: #f000ff;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 10px;
    justify-content: center;
}
.flex-aside-3-2{
    background-color: #ffd800;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 10px;
    justify-content: center;

}
.flex-coiner-3 > .flex-content-3{
    background-color: #7fe282;
    flex-basis: 100%;
    padding: 15px;

}
.flex-footer-3{
    background-color: #484aee;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: center;
    color: gold;
}
.just-3{
    margin-top: 10px;
    width: 500px;
}




.he-4{
    background-color: #43ceff;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 15px;
    justify-content: center;
}
.flex-coiner-4{
    display: flex;
    justify-content: center;
}
.flex-aside-4-1{
    background-color: #f000ff;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 10px;
    justify-content: center;
}
.flex-aside-4-2{
    background-color: #ffd800;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 10px;
    justify-content: center;

}
.flex-coiner-4 > .flex-content-4{
    background-color: #7fe282;
    padding: 15px;

}
.flex-footer-4{
    background-color: #484aee;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: center;
    color: gold;
}
.just-4{
    margin-top: 10px;
    width: 800px;
}
.flex-colum{
    display: flex;
    flex-direction: row;
}