body{
    font-size: 20px;
}
#main {
    min-height: 250px;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap:wrap;
}

#main > article {
    padding: 5px;
    background: #7cdd75;
}

#main > nav {
    padding: 5px;
    border: 1px solid #a43dbb;
    background: #e84eff;
    flex-grow: 1;
    text-align: center;
}

#main > aside {
    padding: 5px;
    background: #f2ff41;
    flex-grow: 1;
}
footer {
    display: block;
    padding: 5px;
    min-height: 100px;
    background: #3f12ff;
    color: gold;
    text-align: center;
}
aside{
    text-align: center;
}
header{
    padding: 5px;
    min-height: 100px;
    background: #62f2ff;
    text-align: center;
}

@media all and (max-width: 640px) {
    #main, #page {
        flex-direction: column;
    }

    #main > nav, #main > aside, header, footer {
        min-height: 50px;
        max-height: 50px;
    }
}