nav a{
    text-decoration: none;
    color: white;
}
nav > ul > * {
    padding: 10px;
}
.menu-1 ul {
    display: flex;
    background-color: #188bcc;
    border: 2px solid #0b00ff;
    list-style: none;
    justify-content: space-between;
}
.menu-1 ul a {
    font-size: 18px;
}
.flex-item-a a:hover {
    background-color: white;
    color: #188bcc;
}
.menu-2 ul {
    display: flex;
    flex-direction: row-reverse;
    background-color: #188bcc;
    border: 2px solid #0b00ff;
    list-style: none;
    justify-content: space-between;
}
.menu-2 ul a {
    font-size: 18px;

}
.flex-item-b a:hover {
    background-color: white;
    color: #188bcc;
}
.menu-3 ul {
    display: flex;
    flex-direction: row;
    background-color: #188bcc;
    border: 2px solid #0b00ff;
    list-style: none;
    justify-content: center;
}

.menu-3 ul a {
    font-size: 18px;

}
.flex-item-с a:hover {
    background-color: white;
    color: #188bcc;
}
.menu-4 ul {
    display: flex;
    flex-direction: row;
    background-color: #188bcc;
    border: 2px solid #0b00ff;
    list-style: none;
    justify-content: center;
    text-align: center;

}
.flex-item-d{
    color: white;
    border: 1px solid #0b00ff;

}
.menu-4 ul a {
    font-size: 18px;

    text-align: center;
}
.flex-item-d a:hover {
    background-color: white;
    color: #188bcc;
}

.menu-5 ul {
    display: flex;
    flex-direction: row;
    background-color: #188bcc;
    border: 2px solid #0b00ff;
    list-style: none;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.flex-item-e{
    color: white;
}
.menu-5 ul a {
    font-size: 18px;

}
.menu-5 ul li {
    border: 1px solid #0b00ff;
}
.flex-item-e a:hover {
    background-color: white;
    color: #188bcc;
}

.menu-6 ul {
    display: flex;
    flex-direction: row;
    background-color: #188bcc;
    border: 2px solid #0b00ff;
    list-style: none;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
}
.flex-item-f{
    color: white;
}
.menu-6 ul a {
    font-size: 18px;
;
}
.menu-6 ul li {
    border: 1px solid #0b00ff;
}
.flex-item-f a:hover {
    background-color: white;
    color: #188bcc;
}
.menu-7 ul {
    display: flex;
    flex-direction: row-reverse;
    background-color: #188bcc;
    border: 2px solid #0b00ff;
    list-style: none;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
}
.flex-item-g{
    color: white;
}
.menu-7 ul a {
    font-size: 18px;

}
.menu-7 ul li {
    border: 1px solid #0b00ff;
}
.flex-item-g a:hover {
    background-color: white;
    color: #188bcc;
}

ul { list-style-type: none; }

.nav {
    max-width: 850px;
    margin: 0 auto;
    background-color: #188bcc;
    border: 2px solid #0030ff;
}

.nav__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    color: #fff;
}

.nav-item {
    font-size: 18px;
    padding: 15px;
    cursor: pointer;
}

.nav-item a:hover {
    background-color: #fff;
    color: #188bcc;
}
.menu-8 ul {
    display: flex;
    background-color: #188bcc;
    border: 2px solid #0b00ff;
    list-style: none;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;
    width: 230px;
}
.flex-item-i{
    color: white;
}
.menu-8 ul a {
    font-size: 18px;
}
.flex-item-i a:hover {
    background-color: white;
    color: #188bcc;
}