* {
    box-sizing: border-box;
}
html{
    font-family: sans-serif;
    font-size: 18px;
}

.box1{
    max-width: 1200px;
    margin: 0 auto;
}

.menu{
    background-color: #43ceff;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box-util-1{
    flex-grow: 10000;
    min-width: 580px;
}

.menu1{
    flex-grow: 1;
    max-width: 460px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
a{
    list-style-type: none;
    text-decoration: none;
    color: white;
}
.menu-item{
    list-style-type: none;
    padding: 0 14px;
    line-height: 40px;
    text-align: center;

}
.menu-item:hover {
    background-color: #39b9ff;
    color: #43ceff;
}