.background {
    width: 1280px;
    height: 946px;
    margin: 0 auto;
    margin-top: 80px;
    background: url("assets/background0.png") no-repeat;
    box-shadow: 1px 1px 3px #999999;
    position: relative;
}

.dale0 {
    background: url(assets/dale0.png) no-repeat;
    background-size: cover;
    width: 184px;
    height: 234px;
    position: absolute;
    left: 250px;
    top: 170px;
    margin: 0 auto;
    background-position: inherit;
}



.gadget{
    display: block;
    background: url(assets/gadget.png) no-repeat;
    width: 308px;
    height: 438px;
    position: absolute;
    left: 40px;
    top: 125px;
    margin: 0 auto;
    background-size: cover;
}
.rockfor{
    display: block;
    background: url("assets/rockfor.png") no-repeat;
    width: 608px;
    margin: 0 auto;
    height: 390px;
    position: absolute;
    left: -290px;
    top: 260.987px;

}
.dale1{
    display: block;
    background: url("assets/dale1.png") no-repeat;
    width: 240px;
    margin: 0 auto;
    height: 424px;
    position: absolute;
    left: 750px;
    top: 350px;
}
.chip{
    display: block;
    background: url("assets/chip.png") no-repeat;
    width: 288px;
    margin: 0 auto;
    height: 486px;
    position: absolute;
    left: 235px;
    top: 0px;
}
.vjic{
    display: block;
    background: url("assets/vjic.png") no-repeat;
    width: 212px;
    margin: 0 auto;
    height: 296px;
    position: absolute;
    left: -90px;
    top: 220px;
}