fieldset{
    background-color: #d2ddec;
    width: 450px;
}
input[type="password"]{
    background: pink;
    border: 2px solid #cc4592;
}
select{
    background: #749bff;
    border: 2px solid #000973
}
input[type="email"], [type="text"]{
    background: #ffdc70;
    border: 2px solid #cacc06;
}
p{
    margin-top: -2px;
    margin-left: 7px;
}
textarea{
    background: #5cff4e;
    border: 2px solid #087320
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #F0EEED;
}
table{
    border-spacing: 7px 11px;
}
#red{
    background: #ff0d00;
}
button  {
    background: #06ff00;
}
