body {
    background: #f0f0f0;
    color: #555;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    background-color: #fff;
}
div {
    display: block;
}
.title{
    padding-left:46px;
    min-height:32px;
    line-height:32px;
    font-size: 26px;
    margin-bottom: 0.5em;
    color: #333;
    font-weight: bold;
}
.reviews{
    padding-left: 100px;
    color: #555555;
}
.imgkuryata{
    margin: 1em auto;
    border-radius: 90px;

}
.fig {
    text-align: center;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 5px;
    color: #666;
}
.kuryata {
    width: 600px;
    cellspacing: 0;
    cellpadding: 0;
}
.kuryata-text{
    font-style: italic;
    font-size: 16px;
}
.nav{
    link:"menu.css";
}




