body{
    background-size: 100%;
}
ul{
    margin-top: 20px;
     list-style-type: decimal;
    background-color: #f09c23;
}
.rectangleV2 li {
    background: #a2b176;
    margin-bottom: 10px;
    height: 30px;
}
.rectangleV2 a {
    position: relative;
    padding: 10px 10px 3px 10px;
    margin: 10px 10px 10px 0px;
    background: #CD7845;
    color: #ffffff;
    text-decoration: none;
    transition: all .3s ease-out;
}
.rectangleV2 a:hover {background: #5ce154;}
.v1{

    list-style-image: url("task1/apple1.png");
}
.v2{
    list-style-image: url("task1/strawberry.png");
}
.v3{
    list-style-image: url("task1/kiwi1.png");
}
.v4{
    list-style-image: url("task1/garnet1.png");
}
.v5{
    list-style-image: url("task1/papay1.png");
}
#ico{
}
.rectangle {
    counter-reset: li;
    list-style: none;
    padding: 15px;
}
.rectangle li {
    background: #a2b176;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    height: 30px;
}

.rectangle a {
    position: relative;
    display: block;
    padding: .4em .8em .4em .8em;
    margin: .5em 0 .4em 2.5em;
    background: #CD7845;
    color: #ffffff;
    text-decoration: none;
    transition: all .3s ease-out;
}
.rectangle a:hover {background: #5ce154;}
.rectangle a:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -2.0em;
    top: 50%;
    margin-top: -1em;
    background: #a2b176;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}
.rectangle a:after {
    position: absolute;
    content: "";
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;
}
.rectangle a:hover:after {
    left: -.5em;
}
