
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}
#square {
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: 56px;
    margin-top: 250px;
    border-radius: 0 50% 0 50%;
    background:
            linear-gradient(#8AE4FF, #8AE4FF) 0% 0% / 50% 50%,
            linear-gradient(#FFEAFB, #FFEAFB) 100% 0% / 50% 50%,
            linear-gradient(#8AE4FF, #8AE4FF) 100% 100% / 50% 50%,
            linear-gradient(#FFEAFB, #FFEAFB) 0% 100% / 50% 50%;
    background-repeat: no-repeat;
}
*{box-sizing: border-box;}
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
nav {background: #413F3C;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul:after {
    content: "";
    display: table;
    clear: both;
}
nav a {
    text-decoration: none;
    display: block;
    transition: .3s linear;
}
.topmenu > li {
    float: left;
    position: relative;
    border-left: 1px solid black;
}
.topmenu > li:first-child {border-left: 0;}
.topmenu > li > a {
    padding: 20px 30px;
    font-size: 12px;
    text-transform: uppercase;
    color: #FEFDFD;
    letter-spacing: 2px;
}

.topmenu > li > a.active,
.submenu a:hover {color: #8AE4FF;}
.topmenu .fa,
.submenu .fa {
    margin-left: 5px;
    color: inherit;
}

.submenu {
    position: absolute;
    z-index: 5;
    min-width: 200px;
    background: #413F3C;
    border-top: 1px solid #8AE4FF;
    border-left: 1px solid #8AE4FF;
    border-right: 1px solid #8AE4FF;
    visibility: hidden;
    opacity: 0;
    transform-origin: 0% 0%;
    transform: rotateX(-90deg);
    transition: .3s linear;
}
.submenu li {position: relative;}
.submenu li a {
    color: #ffffff;
    padding: 10px 20px;
    font-size: 13px;
    border-bottom: 1px solid #8AE4FF;
}
.submenu .submenu {
    position: absolute;
    left: 100%;
    top: -1px;
    transition: .3s linear;
}
nav li:hover > .submenu {
    transform: rotateX(0deg);
    visibility: visible;
    opacity: 1;
}
.text-shadow-1 {
    margin-top: -450px;
    margin-left: 160px;
    font-size: 200px;
    color: #8AE4FF;
    text-shadow: -2px -2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, 2px 2px 0 #000000, 4px 4px 0 #8AE4FF, 5px 5px 0 #8AE4FF, 6px -6px 0 #8AE4FF;
    letter-spacing: 0.1em;
}
