body{
    background-image: linear-gradient(to left, rgb(189, 189, 189), rgb(177, 177, 177), rgb(166, 165, 166), rgb(154, 154, 154), rgb(142, 142, 142), rgb(131, 130, 130), rgb(119, 118, 119), rgb(108, 106, 107), rgb(96, 94, 95), rgb(84, 83, 83), rgb(73, 71, 72), rgb(61, 59, 60));
}
.blockLeft{
    font-weight: 700;
    font-size: 34px;
    position: relative;
    margin-left: 55px;
    margin-top: 55px;
}
.clock24std{
    margin-top: 30px;
    margin-left: 320px;
}
.size{
    font-weight: 333;
    font-family:arial;
    font-size: 56px;


}
.blockRight{
    font-weight: 700;
    font-size: 34px;
    width: 4em;
    height: 3em;
    margin-top: -144px;
    margin-left: 1100px;
}
.white{
    width:400px;
    height:200px;
    position: relative;
    background: #9a939a;
    box-shadow: 0 0 0 1px #9a939a,
    20px 0 0 -10px #6d707c,
    20px 20px 0 -10px #6d707c;
    margin-top: 344px;
    margin-left: -800px;
    border: 2px solid #9a939a;
}
.black, .white{
}
.black{
    width:300px;
    height:300px;
    margin-top: -222px;
    margin-left: -180px;
    position: relative;
    background:#000;
    outline-offset:1px;
    border: 2px solid #0c0002;

}
.city{
    position: relative;
    color: white;
    font-size: 19px;
    margin-top: -290px;
}
.abc {
    color: #6d707c;
    font-weight: 600;
    font-size: 60px;
    margin-top: 222px;
}
.oct{
    position: relative;
    color: #6d707c;
    font-size: 20px;
    margin-top: 230px;
    margin-left: 188px;
}
.str {
    font-size: 60px;
    background: rgba(96, 94, 95, 0.53); /* перевести HEX в RGB */
    width: 120px;
    height: 80px;
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
    position: relative;
    color: #0c0002;
    margin-top: -210px;
    margin-left: -250px;
}
.could{
    position: relative;
    margin-top: -123px;
    margin-left: 123px;
}
.ball {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 130px auto;
    margin-left: -90px;
    background: radial-gradient(circle at 65% 15%, #3e3d3b, #131216);
}
.table{

}
table {
    width:400px;
    height:200px;
    font-size: 20px;
    margin-left: 130px;
    margin-top: -310px;
    border-collapse: separate;
    border-spacing: 5px;
}
th{
    text-align: left;
    color: #59606b;

}
td {
    padding: 10px;
    padding-bottom: 144px;
}
.x1 {
    position: relative;
    margin-left: 190px;
    margin-top: -535px;

}
.x1:after {
    content:"\00D7";
    line-height: 1;
    color: #6d707c;
    font-size: 90px;
    font-weight: bold;
}
.x2 {
    position: relative;
    margin-left: 465px;
    margin-top: 130px;

}
.x2:after {
    content:"\00D7";
    line-height: 1;
    color: #0c0002;
    font-size: 90px;
    font-weight: bold;
}
