body {
    background-color: orange;
    font-size: 22px;
}

main {
    position: relative;
    background-color: rgba(255, 255, 225, 0.3);
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
    font-family: 'Oswald', sans-serif;
}
main h1 {
    text-align: center;
}
article::after {
    content: " ";
    clear: both;
    display: block;
}
article {
    background-color: rgba(0, 0, 0, .1);
    padding: 0 15px;
}
section {
    transition: 0.3s;
    display: inline-block;
    position: relative;
    width: 75%;
    padding: 20px;
    box-sizing: border-box;
    float: left;
}
section:hover {
    box-shadow: 25px 10px 10px black;
}
section:not(:last-of-type) {
    margin-bottom: 20px;
}
section:nth-of-type(2n) {
    float: right;
}
.image img{
    width: 200px;
    height: 200px;
    border:1px solid #ddd;
    border-radius: 50%;
}
.image img:hover {
    border-radius: 3px;
}
